
#*Rossman Store Sales Prediction*

---



Rossmann operates over 3,000 drug stores in 7 European countries. Currently, Rossmann store managers are tasked with predicting their daily sales for up to six weeks in advance. Store sales are influenced by many factors, including promotions, competition, school and state holidays, seasonality, and locality.

With thousands of individual managers predicting sales based on their unique circumstances, the accuracy of results can be quite varied. You are provided with historical sales data for 1,115 Rossmann stores. The task is to forecast the "Sales" column for the test set. Note that some stores in the dataset were temporarily closed for refurbishment.

Downloading the required libraries

In [28]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib
%matplotlib inline
from google.colab import files
uploaded = files.upload()

Saving store.csv to store.csv
Saving test.csv to test.csv
Saving train.csv to train.csv

In [29]:
import io
ross_df = pd.read_csv(io.BytesIO(uploaded['train.csv']))
store_df = pd.read_csv(io.BytesIO(uploaded['store.csv']))
test_df = pd.read_csv(io.BytesIO(uploaded['test.csv']))

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [30]:
ross_df

         Store  DayOfWeek        Date  ...  Promo  StateHoliday  SchoolHoliday
0            1          5  2015-07-31  ...      1             0              1
1            2          5  2015-07-31  ...      1             0              1
2            3          5  2015-07-31  ...      1             0              1
3            4          5  2015-07-31  ...      1             0              1
4            5          5  2015-07-31  ...      1             0              1
...        ...        ...         ...  ...    ...           ...            ...
1017204   1111          2  2013-01-01  ...      0             a              1
1017205   1112          2  2013-01-01  ...      0             a              1
1017206   1113          2  2013-01-01  ...      0             a              1
1017207   1114          2  2013-01-01  ...      0             a              1
1017208   1115          2  2013-01-01  ...      0             a              1

[1017209 rows x 9 columns]

In [31]:
store_df

      Store StoreType  ... Promo2SinceYear     PromoInterval
0         1         c  ...             NaN               NaN
1         2         a  ...          2010.0   Jan,Apr,Jul,Oct
2         3         a  ...          2011.0   Jan,Apr,Jul,Oct
3         4         c  ...             NaN               NaN
4         5         a  ...             NaN               NaN
...     ...       ...  ...             ...               ...
1110   1111         a  ...          2013.0   Jan,Apr,Jul,Oct
1111   1112         c  ...             NaN               NaN
1112   1113         a  ...             NaN               NaN
1113   1114         a  ...             NaN               NaN
1114   1115         d  ...          2012.0  Mar,Jun,Sept,Dec

[1115 rows x 10 columns]

In [32]:
test_df

          Id  Store  DayOfWeek  ... Promo  StateHoliday  SchoolHoliday
0          1      1          4  ...     1             0              0
1          2      3          4  ...     1             0              0
2          3      7          4  ...     1             0              0
3          4      8          4  ...     1             0              0
4          5      9          4  ...     1             0              0
...      ...    ...        ...  ...   ...           ...            ...
41083  41084   1111          6  ...     0             0              0
41084  41085   1112          6  ...     0             0              0
41085  41086   1113          6  ...     0             0              0
41086  41087   1114          6  ...     0             0              0
41087  41088   1115          6  ...     0             0              1

[41088 rows x 8 columns]

Merge the information from `store_df` into `train_df` and `test_df`.

In [33]:
merged_df = ross_df.merge(store_df, how='left', on='Store')
merged_test_df = test_df.merge(store_df, how='left', on='Store')

In [34]:
merged_df

         Store  DayOfWeek  ... Promo2SinceYear     PromoInterval
0            1          5  ...             NaN               NaN
1            2          5  ...          2010.0   Jan,Apr,Jul,Oct
2            3          5  ...          2011.0   Jan,Apr,Jul,Oct
3            4          5  ...             NaN               NaN
4            5          5  ...             NaN               NaN
...        ...        ...  ...             ...               ...
1017204   1111          2  ...          2013.0   Jan,Apr,Jul,Oct
1017205   1112          2  ...             NaN               NaN
1017206   1113          2  ...             NaN               NaN
1017207   1114          2  ...             NaN               NaN
1017208   1115          2  ...          2012.0  Mar,Jun,Sept,Dec

[1017209 rows x 18 columns]

### Data Preprocessing and Feature Engineering

In [35]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1017209 entries, 0 to 1017208
Data columns (total 18 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Store                      1017209 non-null  int64
 1   DayOfWeek                  1017209 non-null  int64
 2   Date                       1017209 non-null  object
 3   Sales                      1017209 non-null  int64
 4   Customers                  1017209 non-null  int64
 5   Open                       1017209 non-null  int64
 6   Promo                      1017209 non-null  int64
 7   StateHoliday               1017209 non-null  object
 8   SchoolHoliday              1017209 non-null  int64
 9   StoreType                  1017209 non-null  object
 10  Assortment                 1017209 non-null  object
 11  CompetitionDistance        1014567 non-null  float64
 12  CompetitionOpenSinceMonth  693861 non-null   float64
 13  CompetitionOpenSinceYear   693861 non-null   float64
 14  Promo2                     1017209 non-null  int64
 15  Promo2SinceWeek            509178 non-null   float64
 16  Promo2SinceYear            509178 non-null   float64
 17  PromoInterval              509178 non-null   object
dtypes: float64(5), int64(8), object(5)
memory usage: 147.5+ MB

In [36]:
def split_date(df):
  df['Date'] = pd.to_datetime(df['Date'])
  df['Year'] = df.Date.dt.year
  df['Month'] = df.Date.dt.month
  df['Day'] = df.Date.dt.day
  df['WeekOfYear'] = df.Date.dt.isocalendar().week

In [37]:
split_date(merged_df)
split_date(merged_test_df)

In [38]:
merged_df

         Store  DayOfWeek       Date  Sales  ...  Year  Month  Day WeekOfYear
0            1          5 2015-07-31   5263  ...  2015      7   31         31
1            2          5 2015-07-31   6064  ...  2015      7   31         31
2            3          5 2015-07-31   8314  ...  2015      7   31         31
3            4          5 2015-07-31  13995  ...  2015      7   31         31
4            5          5 2015-07-31   4822  ...  2015      7   31         31
...        ...        ...        ...    ...  ...   ...    ...  ...        ...
1017204   1111          2 2013-01-01      0  ...  2013      1    1          1
1017205   1112          2 2013-01-01      0  ...  2013      1    1          1
1017206   1113          2 2013-01-01      0  ...  2013      1    1          1
1017207   1114          2 2013-01-01      0  ...  2013      1    1          1
1017208   1115          2 2013-01-01      0  ...  2013      1    1          1

[1017209 rows x 22 columns]

#### Stores Open/Closed

In [39]:
merged_df[merged_df.Open == 0].Sales.value_counts()

0    172817
Name: Sales, dtype: int64

Instead of trying to model this relationship, it would be better to hard-code it in our predictions, and remove the rows where the store is closed. We won't remove any rows from the test set, since we need to make predictions for every row.

In [40]:
merged_df = merged_df[merged_df.Open == 1].copy()

In [41]:
merged_df

         Store  DayOfWeek       Date  Sales  ...  Year  Month  Day WeekOfYear
0            1          5 2015-07-31   5263  ...  2015      7   31         31
1            2          5 2015-07-31   6064  ...  2015      7   31         31
2            3          5 2015-07-31   8314  ...  2015      7   31         31
3            4          5 2015-07-31  13995  ...  2015      7   31         31
4            5          5 2015-07-31   4822  ...  2015      7   31         31
...        ...        ...        ...    ...  ...   ...    ...  ...        ...
1016776    682          2 2013-01-01   3375  ...  2013      1    1          1
1016827    733          2 2013-01-01  10765  ...  2013      1    1          1
1016863    769          2 2013-01-01   5035  ...  2013      1    1          1
1017042    948          2 2013-01-01   4491  ...  2013      1    1          1
1017190   1097          2 2013-01-01   5961  ...  2013      1    1          1

[844392 rows x 22 columns]

Computing the number of months for which a competitor has been open near the store

In [42]:
def comp_months(df):
  df['CompetitionOpen'] = 12 * (df.Year - df.CompetitionOpenSinceYear) + (df.Month - df.CompetitionOpenSinceMonth)
  df['CompetitionOpen'] = df['CompetitionOpen'].map(lambda x: 0 if x < 0 else x).fillna(0)

In [43]:
comp_months(merged_df)
comp_months(merged_test_df)

In [ ]:
merged_df[['Date', 'CompetitionDistance', 'CompetitionOpenSinceYear', 'CompetitionOpenSinceMonth', 'CompetitionOpen']].sample(20)

#### Additional Promotion

In [44]:
def check_promo_month(row):
    month2str = {1:'Jan', 2:'Feb', 3:'Mar', 4:'Apr', 5:'May', 6:'Jun',              
                 7:'Jul', 8:'Aug', 9:'Sept', 10:'Oct', 11:'Nov', 12:'Dec'}
    try:
        months = (row['PromoInterval'] or '').split(',')
        if row['Promo2Open'] and month2str[row['Month']] in months:
            return 1
        else:
            return 0
    except Exception:
        return 0

def promo_cols(df):
    # Months since Promo2 was open
    df['Promo2Open'] = 12 * (df.Year - df.Promo2SinceYear) +  (df.WeekOfYear - df.Promo2SinceWeek)*7/30.5
    df['Promo2Open'] = df['Promo2Open'].map(lambda x: 0 if x < 0 else x).fillna(0) * df['Promo2']
    # Whether a new round of promotions was started in the current month
    df['IsPromo2Month'] = df.apply(check_promo_month, axis=1) * df['Promo2']

In [45]:
promo_cols(merged_df)
promo_cols(merged_test_df)

In [46]:
merged_df[['Date', 'Promo2', 'Promo2SinceYear', 'Promo2SinceWeek', 'PromoInterval', 'Promo2Open', 'IsPromo2Month']].sample(20)

             Date  Promo2  ...  Promo2Open  IsPromo2Month
16583  2015-07-17       1  ...    9.475410              1
58054  2015-06-09       0  ...    0.000000              0
762001 2013-08-17       1  ...   40.590164              0
88167  2015-05-13       0  ...    0.000000              0
798609 2013-07-16       0  ...    0.000000              0
313538 2014-10-10       0  ...    0.000000              0
379047 2014-08-01       1  ...    4.819672              0
471328 2014-05-05       0  ...    0.000000              0
947383 2013-03-04       0  ...    0.000000              0
767954 2013-08-12       1  ...    6.426230              1
826193 2013-06-21       1  ...    0.000000              0
218480 2015-01-17       1  ...   27.508197              1
222019 2015-01-13       1  ...   24.459016              1
326043 2014-09-27       1  ...   41.737705              0
134797 2015-04-02       1  ...   26.065574              0
142980 2015-03-25       1  ...   66.032787              0
374565 2014-08-06       0  ...    0.000000              0
203199 2015-01-30       0  ...    0.000000              0
806006 2013-07-09       0  ...    0.000000              0
570527 2014-02-05       0  ...    0.000000              0

[20 rows x 7 columns]

#### Identify Input and Target columns

In [47]:
merged_df.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval', 'Year', 'Month', 'Day',
       'WeekOfYear', 'CompetitionOpen', 'Promo2Open', 'IsPromo2Month'],
      dtype='object')

In [48]:
input_cols = ['Store', 'DayOfWeek', 'Promo', 'StateHoliday', 'SchoolHoliday', 
              'StoreType', 'Assortment', 'CompetitionDistance', 'CompetitionOpen', 
              'Day', 'Month', 'Year', 'WeekOfYear',  'Promo2', 
              'Promo2Open', 'IsPromo2Month']

target_col = 'Sales'

In [49]:
inputs = merged_df[input_cols].copy()
target = merged_df[target_col].copy()

In [50]:
test_inputs = merged_test_df[input_cols].copy()

In [51]:
inputs

         Store  DayOfWeek  Promo  ... Promo2  Promo2Open IsPromo2Month
0            1          5      1  ...      0    0.000000             0
1            2          5      1  ...      1   64.131148             1
2            3          5      1  ...      1   51.901639             1
3            4          5      1  ...      0    0.000000             0
4            5          5      1  ...      0    0.000000             0
...        ...        ...    ...  ...    ...         ...           ...
1016776    682          2      0  ...      0    0.000000             0
1016827    733          2      0  ...      0    0.000000             0
1016863    769          2      0  ...      1    1.213115             1
1017042    948          2      0  ...      0    0.000000             0
1017190   1097          2      0  ...      0    0.000000             0

[844392 rows x 16 columns]

In [77]:
numeric_cols = ['Store', 'Promo', 'SchoolHoliday', 
              'CompetitionDistance', 'CompetitionOpen', 'Promo2', 'Promo2Open', 'IsPromo2Month',
              'Day', 'Month', 'Year', 'WeekOfYear',  ]
categorical_cols = ['DayOfWeek', 'StateHoliday', 'StoreType', 'Assortment']

#### Imputing Missing Numerical Data

In [53]:
inputs[numeric_cols].isna().sum()

Store                     0
Promo                     0
SchoolHoliday             0
CompetitionDistance    2186
CompetitionOpen           0
Promo2                    0
Promo2Open                0
IsPromo2Month             0
Day                       0
Month                     0
Year                      0
WeekOfYear                0
dtype: int64

In [54]:
test_inputs[numeric_cols].isna().sum()

Store                   0
Promo                   0
SchoolHoliday           0
CompetitionDistance    96
CompetitionOpen         0
Promo2                  0
Promo2Open              0
IsPromo2Month           0
Day                     0
Month                   0
Year                    0
WeekOfYear              0
dtype: int64

In [55]:
max_distance = inputs.CompetitionDistance.max()
max_distance

75860.0

In [56]:
inputs['CompetitionDistance'].fillna(max_distance * 2, inplace=True)
test_inputs['CompetitionDistance'].fillna(max_distance * 2, inplace=True)

In [57]:
inputs[numeric_cols].isna().sum()

Store                  0
Promo                  0
SchoolHoliday          0
CompetitionDistance    0
CompetitionOpen        0
Promo2                 0
Promo2Open             0
IsPromo2Month          0
Day                    0
Month                  0
Year                   0
WeekOfYear             0
dtype: int64

In [58]:
test_inputs[numeric_cols].isna().sum()

Store                  0
Promo                  0
SchoolHoliday          0
CompetitionDistance    0
CompetitionOpen        0
Promo2                 0
Promo2Open             0
IsPromo2Month          0
Day                    0
Month                  0
Year                   0
WeekOfYear             0
dtype: int64

#### Scaling Numeric Values

In [59]:
from sklearn.preprocessing import MinMaxScaler

In [60]:
scaler = MinMaxScaler()

In [61]:
scaler.fit(inputs[numeric_cols])

MinMaxScaler()

In [62]:
inputs[numeric_cols] = scaler.transform(inputs[numeric_cols])
test_inputs[numeric_cols] = scaler.transform(test_inputs[numeric_cols])

In [63]:
inputs

            Store  DayOfWeek  Promo  ... Promo2  Promo2Open IsPromo2Month
0        0.000000          5    1.0  ...    0.0    0.000000           0.0
1        0.000898          5    1.0  ...    1.0    0.890710           1.0
2        0.001795          5    1.0  ...    1.0    0.720856           1.0
3        0.002693          5    1.0  ...    0.0    0.000000           0.0
4        0.003591          5    1.0  ...    0.0    0.000000           0.0
...           ...        ...    ...  ...    ...         ...           ...
1016776  0.611311          2    0.0  ...    0.0    0.000000           0.0
1016827  0.657092          2    0.0  ...    0.0    0.000000           0.0
1016863  0.689408          2    0.0  ...    1.0    0.016849           1.0
1017042  0.850090          2    0.0  ...    0.0    0.000000           0.0
1017190  0.983842          2    0.0  ...    0.0    0.000000           0.0

[844392 rows x 16 columns]

#### Encoding Categorical Data

In [65]:
from sklearn.preprocessing import OneHotEncoder

In [68]:
encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')

In [78]:
encoder.fit(inputs[categorical_cols])

TypeError: ignored

In [70]:
encoded_cols = list(encoder.get_feature_names(categorical_cols))

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

ValueError: ignored

In [27]:
inputs[encoded_cols] = encoder.transform(inputs[categorical_cols])
test_inputs[encoded_cols] = encoder.transform(test_inputs[categorical_cols])

NameError: ignored

Extract all data for training

In [73]:
X = inputs[numeric_cols + encoded_cols]

NameError: ignored

In [ ]:
X_test = test_inputs[numeric_cols + encoded_cols]

In [74]:
X

NameError: ignored

### Train Gradient Boosting Model

In [82]:
from xgboost import XGBRegressor

In [83]:
model = XGBRegressor(random_state=42, n_jobs=-1, n_estimators=20, max_depth=4)

In [84]:
%%time
model.fit(X, target)

NameError: ignored

#### Prediction

In [85]:
preds = model.predict(X)

NameError: ignored

In [86]:
preds

NameError: ignored

#### Evaluating

In [87]:
from sklearn.metrics import mean_squared_error

def rmse(a, b):
  return mean_squared_error(a, b, squared=False)

In [88]:
rmse(preds, target)

NameError: ignored

In [ ]:
merged_df.Sales.min(), merged_df.Sales.max()

In [ ]:
plt.hist(merged_df.Sales.sample(10000));

#### Feature Importance

In [89]:
importance_df = pd.DataFrame({
    'feature': X.columns,
    'importance': model.feature_importances_
}).sort_values('importance', ascending=False)

NameError: ignored

In [ ]:
importance_df.head(10)

In [ ]:
sns.barplot(data=importance_df.head(10), x='importance', y='feature')
plt.title('Feature Importance')
plt.xlabel('Importance')
plt.ylabel('Feature');

### K-Fold Cross Validation

In [16]:
from sklearn.model_selection import KFold

In [81]:
kfold = KFold(n_splits=5)

In [80]:
def train_and_evaluate(X_train, train_targets, X_val, val_targets, **params):
    model = XGBRegressor(random_state=42, n_jobs=-1, **params)
    model.fit(X_train, train_targets)
    train_rmse = rmse(model.predict(X_train), train_targets)
    val_rmse = rmse(model.predict(X_val), val_targets)
    return model, train_rmse, val_rmse

In [79]:
models = []

for train_idxs, val_idxs in kfold.split(X):
    X_train, train_targets = X.iloc[train_idxs], target.iloc[train_idxs]
    X_val, val_targets = X.iloc[val_idxs], target.iloc[val_idxs]
    model, train_rmse, val_rmse = train_and_evaluate(X_train, 
                                                     train_targets, 
                                                     X_val, 
                                                     val_targets, 
                                                     max_depth=4, 
                                                     n_estimators=20)
    models.append(model)
    print('Train RMSE: {}, Validation RMSE: {}'.format(train_rmse, val_rmse))

NameError: ignored

In [ ]:
import numpy as np

def predict_avg(models, inputs):
    return np.mean([model.predict(inputs) for model in models], axis=0)

In [ ]:
preds = predict_avg(models, X)

In [ ]:
preds

### HyperParameter Tuning and Regularisation

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_val, train_targets, val_targets = train_test_split(X, target, test_size=0.1)

NameError: ignored

In [ ]:
def test_params(**params):
    model = XGBRegressor(n_jobs=-1, random_state=42, **params)
    model.fit(X_train, train_targets)
    train_rmse = rmse(model.predict(X_train), train_targets)
    val_rmse = rmse(model.predict(X_val), val_targets)
    print('Train RMSE: {}, Validation RMSE: {}'.format(train_rmse, val_rmse))


#### `n_estimators`

In [ ]:
test_params(n_estimators=10)

In [ ]:
test_params(n_estimators=30)

In [ ]:
test_params(n_estimators=100)

#### `max_depth`

In [ ]:
test_params(max_depth=5)

In [ ]:
test_params(max_depth=10)

#### `learning_rate`

In [ ]:
test_params(n_estimators=50, learning_rate=0.01)

In [ ]:
test_params(n_estimators=50, learning_rate=0.1)

In [ ]:
test_params(n_estimators=50, learning_rate=0.3)

### Making Predictions

In [12]:
model = XGBRegressor(n_jobs=-1, random_state=42, n_estimators=1000,
                    learning_rate=0.2, max_depth=10, subsample=0.9,
                    colsample_bytree=0.7)

NameError: ignored

In [13]:
%%time
model.fit(X, target)

NameError: ignored

Now the Model is trained we can make predictions on the test set

In [90]:
test_preds = model.predict(X_test)

NameError: ignored

In [ ]:
submission_df

In [ ]:
submission_df['Sales'] = test_preds

In [ ]:
test_df.Open.isna().sum()

In [ ]:
test_df[test_df.Open.isna()]